<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Part-1</title>
</head>
<body>
    <h1 align=center><b>GIT-গিট</b></h1>
    <h3 align=center><b>পর্ব - ১ : গিট বেসিক</b></h3>
    <h2><b>উদ্দেশ্য :</b></h2>
    <p>
        এই গিট বাংলা টিউটোরিয়াল সিরিজ এর পর্ব-১ এ আমি যথাসম্ভব চেষ্টা করবো <b>গিট কি?</b> <b>গিট কেন প্রয়োজন?</b> এবং <b>গিট ব্যবহার করলে কি কি সুবিধা পাওয়া যাবে</b>, এই বিষয় গুলো সুন্দর করে আপনাদের সামনে তুলে ধরার।
        তাহলে দেরি না করে চলুন শুরু করার যাক আমাদের এই গিট টিউটরিয়াল সিরিজ। প্রথমেই আমরা আলোচনা করবো গিট কি জিনিস তা নিয়ে: 
    </p>
    <h2><b>গিট আবার কী জিনিস?</b></h2>
    <p>
        গিট কি জিনিস তা বুঝতে হলে প্রথমেই আমাদের কে জানতে হবে ভার্সন কন্ট্রোল সম্পর্কে। ভার্সন কন্ট্রোল হল এমন একটি সিস্টেম বা ব্যাবস্থা পদ্দতি যার মাধ্যমে আমরা আমাদের কোন প্রজেক্টে এর ফাইল গুলোর প্রতিটি পরিবর্তন অথবা প্রজেক্টের যেকোনো কাজকেই কে আমরা রেকর্ড করে রাখতে পারি এবং প্রয়োজনে আবার আমরা চাইলে প্রজেক্টের নির্দিষ্ট কোন ভার্সন কে রি-কল ও করতে পারি।
        গিট হল ঠিখ তেমনি একটি VCS বা ভার্সন কন্ট্রলিং সিস্টেম। গিট এর আবির্ভাব ২০০৫ সালে। ২০০২ সাল লিনাক্স কার্নেল প্রজেক্ট ডেভেলপার রা তাদের প্রজেক্ট কে সংরক্ষণ করার জন্য <b>Bitkeeper</b> নামে একটি ডিস্ট্রিবিউটেড ভার্সন কন্ট্রোল সিস্টেম ব্যাবহার করা শুরু করে এবং সবকিছু ভালই চলছিল কিন্তু বিপত্তি বাধে ২০০৫ সালে যখন কমার্শিয়াল কম্পানি(যারা Bitkeeper ডেভেলপ করে) এবং লিনাক্স কার্নেল ডেভেলপ কমিউনিটি এর মধ্যকার সম্পর্ক ভেঙে যায়।
        যার ফল স্বরূপ পরবর্তীতে লিনাক্স ডেভেলপমেন্ট কমিউনিটি(বিশেষ করে <b>Linus Torvalds</b>, লিনাক্স এর আবিষ্কারক) তারা মিলে ২০০৫ সালে একটি ফ্রি ভার্সন কন্ট্রোল সিস্টেম তৈরি করে যার নাম দেয় গিট।
    </p>

    <h2><b>গিট কেন প্রয়োজন?</b></h2>
    <p></p>

    <h2><b>গিট ব্যবহার করার ফলে কি কি সুবিধা পাওয়া?</b></h2>
    <p></p>
</body>
</html>